

#dashBoard{
    color: black;
    width: 100%;
    display: flex;
    height: 100%;
    padding: 10px;
    gap: 70px;
}
#dashBoard article:first-of-type{
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#dashBoard article:first-of-type aside{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-image: linear-gradient(to left , #009dff , #1e76bd , #17619e , #09598b);
    padding: 20px;
    color: white;
    border-radius: 5px;
    height: 30%;
}

#dashBoard article:first-of-type aside p{
    width: 55%;
}


#dashBoard article:first-of-type aside button{
    width: 30%;
    height: 40px;
    border: none;
    border-radius: 4px;
    color: #09598b;
}



#dashBoard article:first-of-type div{
    display: flex;
    flex-direction: column;
    gap: 5px;
}





#dashBoard article:last-of-type{
    width: 30%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 5px;
    height: 97%;
    margin-right: 20px;
}
#dashBoard article:last-of-type figure{
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: rgb(12, 129, 88);
    color: white;
    padding: 10px;
    height: 79px;
    border-radius:5px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.323);
    position: relative;
}
#dashBoard article:last-of-type figure svg{
    position: absolute;
    right: 10px;
    bottom: 20%;
    font-size: 40pt;
    opacity: 0.5;
}
#dashBoard article:last-of-type figure:nth-of-type(2){
    background-image: linear-gradient(#3484a6 , #136ea3);
}
#dashBoard article:last-of-type figure:nth-of-type(3){
    background-image: linear-gradient(#a6348b , #9e13a3);
}
#dashBoard article:last-of-type figure:nth-of-type(4){
    background-image: linear-gradient(#e65f0b , #e16619);
}
#dashBoard article:last-of-type figure:nth-of-type(5){
    background-image: linear-gradient(#0bace6 , #19a9cd);
}
#dashBoard article:last-of-type figure:nth-of-type(6){
    background-image: linear-gradient(#11b395 , #12a099);
}
#dashBoard article:last-of-type figure:nth-of-type(7){
    background-image: linear-gradient(#f0202d , #d92228);
}