#finance{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    padding: 0px;
    overflow: hidden;
    position: relative;
}

#finance figure{
    background-image:linear-gradient(to left ,  rgb(7, 76, 48) ,  rgb(34, 143, 99) ,  rgb(21, 69, 50));
    width: 90%;
    height: 70%;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

#finance figure svg{
    font-size: 100pt;
    opacity: 0.5;
    color: white;
}

#finance figure span{
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 25px;
}

#finance figure span button{
    border: none;
    padding: 10px;
    width: 50%;
    border-radius: 4px;
    color: white;
    background-color: #06ae55;
}
#finance figure span h2{
    font-size: 28pt;
}

#finance figure span p{
    font-size: 22pt;
}

#modal{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #ffffff;
    z-index: 9;
    color: black;
}


#modal > article{
    width: 100%;
    height: 100%;
    padding-top: 70px;
    display: flex;
    justify-content: space-between;
}

#modal > article aside:last-of-type{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 35%;
    padding: 20px;
    height: 100%;
    background-color: #0d9b67
}
#modal > article form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

#modal > article form input , #modal > article form select{
    width: 100%;
    border: none;
    height: 50px;
}



#modal > article span{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px;
    color: #ffff;
    font-size: 14pt;
}

#modal >article svg{
    color: white;
    font-size: 32pt;
}

#modal >article  header{
    color: white;
    font-size: 15pt;
}
#modal >article  div{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

#modal >article  div button{
    width: 100%;
    border: none;
    padding: 15px;
    border-radius: 4px;
    color: #ffff;
    background-color: #06ae55;
}

#modal >article  div button:last-of-type{
    background-color: #dd0b32;
}
#modal > button{
    position: fixed;
    bottom: 20px;
    right: 20px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    background-color: #06ae55;
    color: #ffffff;
    font-weight: bold;
    font-size: 14pt;
}

#modal > article  aside:first-of-type{
    width: 70%;
    color: black;
    display: flex;
    flex-direction: column;
    gap: 25px;
    height: 100%;
    align-items: center;
    overflow: hidden;
    overflow-y: scroll;
}
#modal #cardProduct {
    width: 95%;
    color: black;
    height: 120px;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: rgb(238, 233, 233);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.238);
}

#modal #cardProduct:last-of-type{
    margin-bottom: 100px;
 }
 #modal #cardProduct:first-of-type{
    margin-top: 20px;
 }
#cardProduct img{
    height: 80px;
}

#cardProduct span , #cardProduct p{
    color: black;
}

#cardProduct div > button{
    height: 36px;
    font-size: 14pt;
    display: flex;
    align-items: center;
    justify-content: center;
}

#dataF{
    width: 85%;
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
    background-color: #242424;
    color: white;
    gap: 10px;
    position: fixed;
    right: 0;
    z-index: 99;
}

#dataF div{
    width: 100%;
    display: flex;
    gap: 20px;
    justify-content: end;
    align-items: center;
}
#dataF input, #dataF select{
    height: 40px;
    width: 20%;
}
#dataF button{
    height: 40px;
    border: none;
    border-radius: 8px;
    width: 60px;
    margin-right: 20px;
    color: #ffff;
    background-color: #06ae55;
}

#modal table{
    width: 100%;
    margin-top: 100px;
    margin-left:5px;
}

#modal table thead {
    background-color: #06ae55;
    color: #ffffff;
    height: 40px;
}

#modal table tbody tr {
    height: 35px;
}
#modal table tbody  {
    overflow: hidden;
}

#modal table tbody tr:nth-child(even) {
    background-color: #c3c5c4;
    color: #303231;
}


#min{
    width: 85px;

}
#min button{ 
    width: 80px;
    border: none;
    background-color: #11824a;
    color: #ffff;
    height: 25px;
    border-radius: 2px;
}

#modal footer{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 10px;
    padding-left: 5px;
}
#modal footer button{
    width: 60px;
    border: none;
    background-color: #06ae55;
    color: #ffff;
    height: 30px;
    border-radius: 4px;
}

#modal footer span{
    font-size: 14pt;
}


#modal footer ~ div{
    font-size: 12pt;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#seeSells{
    position: absolute;
    height: 100%;
    width: 100%;
    bottom: 0;
    z-index: 999;
    background-color: #000000a9;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    
    justify-content: center;
}

#seeSells > div {
    display: flex;
    gap: 10px;
}

#seeSells > div button{
    width: 120px;
    height: 35px;
    background-color: transparent;
    color: white;
    border: solid 1px;
    border-radius: 4px;
}
#seeSells > div button:last-of-type{
    background-color: rgb(199, 31, 31);
    border: none;
}

#seeSells > article{
    width: 90%;
    background-color: #ffffff;
    height: 70%;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    transition: all .5s linear;
}
#seeSells > article.up{
    width: 50%;
}

#seeSells > article > span{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr  ;
    gap: 10px 40px;
}

#seeSells > article > span strong{
    width: 100%;
    background-color: #242424;
    color: #ffff;
    padding: 4px;
    border-radius: 2px;
}

#seeSells > article > h2{
    text-align: center;
}
#seeSells  img{
    height: 130px;
    width: 130px;
}
#seeSells  aside{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
#seeSells  aside section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

#seeSells  #productSlide{
    background-color: #ffffff;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.273);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
    border-radius: 10px;
}

#seeSells  #productSlide p:last-of-type{
    color: red;
    
}

#seeSells > form{
    width: 50%;
    background-color: #ffff;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;
    padding: 20px;
}
#seeSells > form input , #seeSells > form select , #seeSells > form button{
    width: 100%;
    height: 50px;
    border-radius: 5px;
}

#seeSells > form button{
    border: none;
    background-color: #0d9b67;
    color: #ffff;
    border-radius: 5px;
}
#seeSells > form button:last-of-type{
    background-color: #dd0b32;
}